* {
    margin: 0px;
    padding: 0px;
}

.gray {
    color: gray;
}

.black {
    color: black;
}

svg {
    margin-left: 5%;
    margin-right: 5%;
}

nav .nav-bar {
    position: sticky;
    height: auto;
}

.nav-bar a {
    display: block;
    width: fit-content;
    float: left;
    text-decoration: none;
    padding: 20px 20px;
}

.nav-bar .nav {
    float: right;
}

#currentpage {
    text-decoration: underline black;
    text-underline-offset: 2px;
}

#page-heading {
    height: 100px;
    background-color: #f0ebeb;
    border-radius: 5px;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px beige;
}

section .header {
    position: absolute;
    transform: translate(-50%, -150%);
    left:50%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}