* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.gray {
    color: gray;
}

.black {
    color: black;
}

.cursive {
    font-family: 'Cinzel Decorative', cursive;
}

.half {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

svg {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

nav.nav-bar {
    position: sticky;
    height: fit-content; 
    overflow: hidden;
}

.nav-bar a {
    display: block;
    width: fit-content;
    float: left;
    text-decoration: none;
    padding: 20px 25px;
}

.nav-bar .nav {
    float: right;
}

.nav-bar a img {
    height: 1rem;
}

#currentpage {
    text-decoration: underline black;
    text-underline-offset: 2px;
}

#page-heading {
    overflow: hidden;
    background-color: #f0ebeb;
    padding: 20px 25px;
    margin-top: 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 1px solid #cbcbcb;
    box-shadow: 0px 0px 10px 5px #cbcbcb;
}

section {
    margin-top: 25px;
    margin-bottom: 25px;
}

section .header {
    position: absolute;
    transform: translate(-50%, -150%);
    left:50%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}