* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    cursor: pointer;
}

.serif {
    font-family: 'Playfair Display', serif;
}

.center-div {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

.center-text {
    text-align: center;
}

svg {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* Nav bar */
nav.nav-bar {
    position: sticky;
    top: 0px;
    height: fit-content; 
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    z-index: 1;
    background-color: white;
}

.nav-bar a {
    color: black;
    display: block;
    width: fit-content;
    float: left;
    text-decoration: none;
    padding: 20px 40px;
    transition: all 300ms ease-in-out;
}

.nav-bar a:hover {
    color: white;
    background-color: black;
    text-decoration: black underline 1px;
    text-underline-offset: 2px;
}

.nav-bar .nav {
    float: right;
}

.nav-bar a img {
    height: 1rem;
}

@media only screen and (max-width: 768px) {
    .nav-bar a {
        padding: 20px 10px;
    }
}

/* Page heading */
#page-heading {
    background-image: src();
}

/* Section */
section {
    margin-bottom: 50px;
}

section .heading {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin: 20px 200px;
}

section .body {
    margin: 0px 200px;
}

section .body a {
    color: green;
    text-decoration: none;
}

section .body * {
    line-height: 1.6;
    padding: 10px 0px;
    font-size: 18px;
}

section .body h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

section .body ul {
    margin-left: 20px;
}

section .body img {
    width: 80%;
}

@media only screen and (max-width: 768px) {
    section .heading {
        text-align: left;
        margin-left: 20px;
    }

    section .body {
        margin: 0px 20px;
    }

    section .body img {
        width: 100%;
    }
}

/* Footer */
footer {
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
    padding: 20px 40px;
}

footer .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 75px;
}

footer .grid-item {
    height: 1.5rem;
    margin: 5px 0px;
}

footer .grid-item * {
    float: left;
}

#footer-item-1, #footer-item-2, #footer-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#footer-item-4, #footer-item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#footer-item-4 {
    grid-row-start: 1;
    grid-row-end: 2;
}

#footer-item-5 {
    grid-row-start: 2;
    grid-row-end: 3;
}

footer .grid-item img {
    width: auto;
    height: 1.2rem;
    margin-right: 5px;
}

footer .grid-item#footer-item-2 img {
    height: 0.9rem;
    transform: translate(0%, 25%);
}

footer .grid-item#footer-item-5 img {
    height: 0.9rem;
    transform: translate(0%, 25%);
}

@media only screen and (max-width: 768px) {
    footer .grid-container {
        margin-left: 30px;
    }
}