* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 15px;
}

.button {
    cursor: pointer;
}

.serif {
    font-family: 'Playfair Display', serif;
}

.center-div {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

.center-text {
    text-align: center;
}

svg {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .half {
        width: 100%;
    }

    .left, .right {
        float: none;
    }

    .vert-cent {
        transform: translate(0px, 0px);
    }

    .center-div {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

/* Nav bar */
nav.nav-bar {
    position: sticky;
    top: 0px;
    height: fit-content; 
    overflow: hidden;
    z-index: 1;
    background-color: white;
}

.nav-bar a {
    color: black;
    display: block;
    width: fit-content;
    float: left;
    text-decoration: none;
    padding: 20px 40px;
    transition: all 300ms ease-in-out;
}

.nav-bar a:hover {
    color: white;
    background-color: black;
    /*text-decoration: black underline 1px;*/
    text-underline-offset: 2px;
}

.nav-bar .nav {
    float: right;
}

.nav-bar a img {
    height: 1rem;
}

@media only screen and (max-width: 768px) {
    .nav-bar a {
        padding: 20px 10px;
    }
}

/* Page heading */
#page-heading {
    margin-top: 0px;
}

#page-heading img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media only screen and (max-width: 768px) {
    #page-heading {
        padding: 0px;
    }

    #page-heading .left {
        text-align: center;
    }

    #page-heading .right img {
        height: auto;
        width: 100%;
    }
}

/* Section */
section {
    margin-top: 100px;
    margin-bottom: 50px;
}

section .heading {
    margin-bottom: 40px;
}

section .body {
    margin: 0px 100px;
}

section .header {
    white-space: nowrap;
    position: absolute;
    transform: translate(-50%, -100%);
    left:50%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

section .notification {
    background-image: linear-gradient(to bottom right, green 10%, white);
    border-radius: 50px;
    border: 1px black solid;
    margin: 20px 200px;
    padding: 20px;
    padding-bottom: 3rem;
}

section .notification h2 {
    color: white;
    padding-bottom: 5px;
}

section .notification img {
    width: 95%;
    top: 0%;
}

section .notification a {
    float: right;
    color: black;
    padding: 2.5px 5px;
    margin-right: 10px;
    text-decoration: none;
    background-color: lightgray;
    border-radius: 5px;
}

section .notification p {
    margin: 5px 2.5%;
}

section .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 20px 100px;
}

section .grid-container .grid-item {
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    border: 1px black solid;
}

section .grid-container .grid-item img {
    width: 100%;
}

section .grid-container .grid-item a {
    display: block;
    white-space: nowrap;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    top: 0%;
}

section .grid-container .grid-item .left {
    float: left;
}

section .grid-container .grid-item .right {
    float: right;
}

section .grid-container .grid-item p:last-child {
    clear: both;
}

#card-1, #card-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#card-2, #card-4 {
    grid-column-start: 2;
    grid-column-end: 3;
}

@media only screen and (max-width: 768px) {
    section {
        margin-top: 30px;
    }

    section .heading {
        margin-bottom: 20px;
    }

    section .body {
        margin: 0px 50px;
    }

    section .body * {
        margin: 5px 5px;
    }

    section .body.notification {
        margin: 20px 60px;
    }

    section .grid-container {
        display: block;
        overflow: auto;
        white-space: nowrap;
        height: fit-content;
        margin: 20px 40px;
        padding: 0px;
    }

    section .grid-item {
        display: inline-block;
        height: inherit;
        white-space: normal;
    }
}

/* Footer */
footer {
    background-color: gray;
    padding: 20px 40px;
}

footer .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 75px;
}

footer .grid-item {
    height: 1.5rem;
    margin: 5px 0px;
}

footer .grid-item * {
    color: black;
    text-decoration: none;
    float: left;
}

#footer-item-1, #footer-item-2, #footer-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#footer-item-4, #footer-item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#footer-item-4 {
    grid-row-start: 1;
    grid-row-end: 2;
}

#footer-item-5 {
    grid-row-start: 2;
    grid-row-end: 3;
}

footer .grid-item img {
    width: auto;
    height: 1.2rem;
    margin-right: 5px;
}

footer .grid-item#footer-item-2 img {
    height: 0.9rem;
    transform: translate(0%, 25%);
}

footer .grid-item#footer-item-5 img {
    height: 0.9rem;
    transform: translate(0%, 25%);
}

@media only screen and (max-width: 768px) {
    footer .grid-container {
        margin-left: 30px;
    }
}